<p class="float-left no-drag" *ngIf="editWidgetName">
  <input type="text" [(ngModel)]="widgetname" (ngModelChange)="widgetnameChange($event)" />
</p>
<button type="button" [disabled]="loading" *ngIf="!editWidgetName"
  class="no-drag btn-sm btn btn-primary float-right mr-1" (click)="openModal()">
  <i class="fa fa-cog"></i>
</button>
<div class="clearfix"></div>
<div class="spinner-grow text-primary" *ngIf="loading" role="status">
  <span class="sr-only">Loading...</span>
</div>

<highcharts-chart [Highcharts]="highcharts" [options]="chartOptions" [(update)]="chartUpdateFlag" [oneToOne]="true"
[ngClass]="groupReportCheck ? 'd-block float-left w-50p' : 'w-100p d-block'">
</highcharts-chart>
<highcharts-chart [Highcharts]="highcharts" [options]="chartOptions1" [(update)]="chartUpdateFlag1" [oneToOne]="true"
 [ngClass]="groupReportCheck ? 'd-block float-right w-50p' : 'd-none'">
</highcharts-chart>
<div class="clearfix"></div>