<p class="float-left no-drag" *ngIf="editWidgetName">
    <input type="text" [(ngModel)]="widgetname" (ngModelChange)="widgetnameChange($event)" />
</p>
<button type="button" [disabled]="loading" *ngIf="!editWidgetName"
    class="no-drag btn-sm btn btn-primary float-right mr-1" (click)="openModal()">
    <i class="fa fa-cog"></i>
</button>
<div class="clearfix"></div>
<div class="spinner-grow text-primary" *ngIf="loading" role="status">
    <span class="sr-only">Loading...</span>
</div>

<div [ngClass]="groupReportCheck ? 'd-block float-left w-50p' : 'w-100p d-block'">
    <p class="mb-0 font-12"><b>Contract Parties:</b> {{ contractParties }}</p>
    <p class="mb-0 font-12"><b>Contracts:</b> {{ contracts }}</p>
    <p class="mb-0 font-12"><b>KPI:</b> {{ kpi }}</p>
    <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions" [(update)]="chartUpdateFlag" [oneToOne]="true"
        class="w-100p d-block" (click)="chartClicked($event)">
    </highcharts-chart>
</div>

<div [ngClass]="groupReportCheck ? 'd-block float-right w-50p' : 'd-none'">
    <p class="mb-0 font-12"><b>Contract Parties:</b>
        {{ getContractParties1(kpiReportTrendWidgetParameters1, setWidgetFormValues1) }}</p>
    <p class="mb-0 font-12"><b>Contracts:</b> {{ getContracts1(kpiReportTrendWidgetParameters1, setWidgetFormValues1) }}
    </p>
    <p class="mb-0 font-12"><b>KPI:</b> {{ getKPI1(kpiReportTrendWidgetParameters1, setWidgetFormValues1) }}</p>
    <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions1" [(update)]="chartUpdateFlag1"
        [oneToOne]="true" class="w-100p d-block">
    </highcharts-chart>
</div>
<div class="clearfix"></div>