input:focus {
  box-shadow: none !important;
}

.col-form-label {
  border-right: 1px solid #ccc;
}

.mat-form-field-wrapper {
  padding: 0 !important;
}

.card .mat-form-field {
  width: 100% !important;
  height: 57px;
}

.card .mat-form-field .mat-form-field-wrapper {
  padding: 0 !important;
}

.fa-download {
  &:hover {
      cursor: pointer;
  }
}
.disabled {
  pointer-events: none;
  cursor: not-allowed;
  &:hover {
    cursor: not-allowed;
  }
}
