<div class="spinner-grow text-primary" *ngIf="loading" role="status">
    <span class="sr-only">Loading...</span>
  </div>
<button type="button" class="no-drag btn-sm btn btn-primary" (click)="openModal()">
	<i class="fa fa-cog"></i>
</button>
<button type="button" class="no-drag btn-sm btn btn-primary" (click)="openModal2()">
    <i class="fa fa-cog"></i>
  </button>

<div style="display: block;">
  <p>{{ name }}</p>
  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
     [legend]="barChartLegend" [chartType]="barChartType"
    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>