
<div class="content-wrapper">
    <section class="content-header">
      <h2>
        Home
        <small>Contraenti</small>
        <small class="pull-right right-text" style="margin-top: 9px;font-size: 19px; font-weight:500"><b>Febbraio 2019</b></small>
      </h2>
      <br>
      <h4 style="color:#565656;">Periodo:</h4>
      <div class="row">
        <select [(ngModel)]="monthVar" class="form-control ml-3" style="width:15%;" (change)="populateDateFilter()"  >
          <option value="00">Tutti i mesi</option>
          <option value="01">Gennaio</option>
          <option value="02">Febbraio</option>
          <option value="03">Marzo</option>
          <option value="04">Aprile</option>
          <option value="05">Maggio</option>
          <option value="06">Giugno</option>
          <option value="07">Luglio</option>
          <option value="08">Agosto</option>
          <option value="09">Settembre</option>
          <option value="10">Ottobre</option>
          <option value="11">Novembre</option>
          <option value="12">Dicembre</option>
        </select>
        <select [(ngModel)]="yearVar" class="form-control ml-1" style="width:15%;" (change)="populateDateFilter()"  >
          <option value="">Anno</option>
          <option *ngFor="let year of anni" >{{year}}</option>     
        </select>
      </div>
    </section>
    <br>
    <!-- Main content -->
    <section class="content">
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
       <section *ngFor="let row of gridsData; index as i" class="col-lg-3 connectedSortable">
        <div class= "box box-danger box-solid" style="border:2px solid #dd4b39">
         <div class="box-header with-border">
          <h3 class="box-title">{{row.contractpartyname}}</h3>
            <!-- /.box-tools -->
        </div>
          <div class= "box-body">
        <div class="box box-default box-solid" style="border: 1px solid #999">
          <div class="box-header with-border" style="padding:5px;">
            <h3 class="box-title" style= "font-size: 18px">Contratti</h3>
            <!-- /.box-tools -->
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <!--The body of the box-->
            <div class="row">
              <div class="col-sm-6 border-right">
                <div class="description-block">
                  <h5 class="description-header">{{row.totalcontracts}}</h5>
                  <p class="description-text">Contratti</p>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                <div class="description-block">
                  <h5 class="description-header">{{row.totalkpis}}</h5>
                  <p class="description-text">KPI</p>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
            </div>
          </div>
          <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
                <li class="top-border"><a href="#">Severity Contratti
              <div class="progress" style="height: 20px">
                <div class="progress-bar active progress-bar-success" role="progressbar" style="width:77%; height:100%">17</div>
              <div class="progress-bar active progress-bar-warning" role="progressbar" style="width:5%; height:100%;">1</div>
              <div class="progress-bar active progress-bar-danger" role="progressbar" style="width:18%; height:100%;">4</div>
            </div></a></li>
              <li><a href="#">KPI in Escalation <span class="pull-right badge bg-red">0</span></a></li>
              <li><a href="#">KPI non Compliant <span class="pull-right badge bg-orange">{{row.noncomplaintkpis}}</span></a></li>
              <li><a href="#">KPI Compliant<span class="pull-right badge bg-green">{{row.complaintkpis}}</span></a></li>
            </ul>
            
          </div>
          <!-- /.box-body -->
        </div>
          <!-- <div class="box box-default box-solid" style="border: 1px solid #999">
          <div class="box-header with-border" style="padding:5px;">
            <h3 class="box-title" style= "font-size: 18px">Underperforming Contract</h3>
          </div>
          <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
              <li><a href="#">Nome Contratto<span class="pull-right"><b>Disciplinare SI</b></span></a></li>
              <li><a href="#">Numero KPI<span class="pull-right"><b>14</b></span></a></li>
              <li><a href="#">Severity KPI
              <div class="progress" style="height: 20px">
                <div class="progress-bar active progress-bar-success" role="progressbar" style="width:50%; height:100%">7</div>
              <div class="progress-bar active progress-bar-warning" role="progressbar" style="width:30%; height:100%;">4</div>
              <div class="progress-bar active progress-bar-danger" role="progressbar" style="width:20%; height:100%;">3</div>
            </div></a></li>
            </ul>
          </div>
        </div> -->
        <div class="box box-default box-solid" style="border: 1px solid #999">
          <div class="box-header with-border" style="padding:5px;">
            <h3 class="box-title" style= "font-size: 18px">Better Performing Contracts</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <table class="table table-striped">
              <tr>
                <th>#</th>
                <th>Contratto</th>
                <th></th>
                <th>Compliant</th>
                <!-- <th>Escalation</th> -->
              </tr>
              <tr *ngFor="let b of row.bestcontracts; index as j">
                <td>{{j+1}}.</td>
                <td>{{b.contractname}}</td>
                <td></td>
                <td class="center-td"><span class="badge bg-green">{{b.complaintkpis}}</span></td>
                <!-- <td class="center-td"><span class="badge bg-red">3</span></td> -->
              </tr>
            </table>
          </div>
          <!-- /.box-body -->
        </div>

        <div class="box box-default box-solid" style="border: 1px solid #999">
            <div class="box-header with-border" style="padding:5px;">
                <h3 class="box-title" style= "font-size: 18px">Under Performing Contracts</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Contratto</th>
                    <th></th>
                    <th>Non Compliant</th>
                    <!-- <th>Escalation</th> -->
                </tr>
                <tr *ngFor="let w of row.worstcontracts; index as k">
                    <td>{{k+1}}.</td>
                    <td>{{w.contractname}}</td>
                    <td></td>
                    <td class="center-td"><span class="badge bg-orange">{{w.noncomplaintkpis}}</span></td>
                    <!-- <td class="center-td"><span class="badge bg-red">3</span></td> -->
                </tr>
                </table>
            </div>
            <!-- /.box-body -->
        </div> 
      </div>
    </div>
    </section>
   </div>
</section>
  
</div><!--/.wrapper-->
  
  