<p class="float-left no-drag">
    <input type="text" *ngIf="isDashboardModeEdit" [(ngModel)]="widgetname" (ngModelChange)="widgetnameChange($event)" />
    <span *ngIf="!isDashboardModeEdit"> {{ widgetname }}</span>
</p>
<button type="button" [disabled]="loading" *ngIf="!isDashboardModeEdit" class="no-drag btn-sm btn btn-primary float-right mr-1" (click)="openModal()">
    <i class="fa fa-cog"></i>
</button>
<div class="clearfix"></div>
<div class="spinner-grow text-primary text-center" *ngIf="loading" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
            <tr>
                <th style="padding: 1px 2px;">ID KPI</th>
                <th style="padding: 1px 2px;">Descrizione KPI</th>
                <th style="padding: 1px 2px;">Dettagli</th>
                <th style="padding: 1px 2px;">Escalation</th>
                <th style="padding: 1px 2px;">Target</th>
                <th style="padding: 1px 2px;">Trend</th>
                <th style="padding: 1px 2px;">Gen</th>
                <th style="padding: 1px 2px;">Feb</th>
                <th style="padding: 1px 2px;">Mar</th>
                <th style="padding: 1px 2px;">Apr</th>
                <th style="padding: 1px 2px;">Mag</th>
                <th style="padding: 1px 2px;">Giu</th>
                <th style="padding: 1px 2px;">Lug</th>
                <th style="padding: 1px 2px;">Ago</th>
                <th style="padding: 1px 2px;">Sep</th>
                <th style="padding: 1px 2px;">Ott</th>
                <th style="padding: 1px 2px;">Nov</th>
                <th style="padding: 1px 2px;">Dic</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let kpiStatus of kpiStatusSummaryData">
                <td style="padding: 1px 2px;">{{ kpiStatus.idkpi }}</td>
                <td style="padding: 1px 2px;">{{ kpiStatus.descrizionekpi }}</td>
                <td style="white-space: nowrap; overflow: hidden;padding: 1px 2px;">{{ kpiStatus.tipologia }} - {{ kpiStatus.frequenza }} - {{ kpiStatus.calcolo }} - {{ kpiStatus.fornitura }}</td>
                <td style="padding: 1px 2px;text-align:center">{{ kpiStatus.escalation || 'N/A' }}</td>
                <td style="padding: 1px 2px;text-align:center">{{ kpiStatus.vilorelimiteatteso }}</td>
                <td style="padding: 1px 2px;text-align:center">{{ kpiStatus.trend }}</td>
                <td style="padding: 1px 2px;text-align:center;font-weight: bold;" [innerHTML]="kpiStatus.gen"></td>
                <td style="padding: 1px 2px;text-align:center;font-weight: bold;" [innerHTML]="kpiStatus.feb"></td>
                <td style="padding: 1px 2px;text-align:center;font-weight: bold;" [innerHTML]="kpiStatus.mar"></td>
                <td style="padding: 1px 2px;text-align:center;font-weight: bold;" [innerHTML]="kpiStatus.apr"></td>
                <td style="padding: 1px 2px;text-align:center;font-weight: bold;" [innerHTML]="kpiStatus.mag"></td>
                <td style="padding: 1px 2px;text-align:center;font-weight: bold;" [innerHTML]="kpiStatus.giu"></td>
                <td style="padding: 1px 2px;text-align:center;font-weight: bold;" [innerHTML]="kpiStatus.lug"></td>
                <td style="padding: 1px 2px;text-align:center;font-weight: bold;" [innerHTML]="kpiStatus.ago"></td>
                <td style="padding: 1px 2px;text-align:center;font-weight: bold;" [innerHTML]="kpiStatus.sep"></td>
                <td style="padding: 1px 2px;text-align:center;font-weight: bold;" [innerHTML]="kpiStatus.ott"></td>
                <td style="padding: 1px 2px;text-align:center;font-weight: bold;" [innerHTML]="kpiStatus.nov"></td>
                <td style="padding: 1px 2px;text-align:center;font-weight: bold;" [innerHTML]="kpiStatus.dic"></td>
            </tr>
        </tbody>
    </table>
</div>
