<p class="float-left no-drag">
    <input type="text" *ngIf="editWidgetName" [(ngModel)]="widgetname" (ngModelChange)="widgetnameChange($event)" />
    <span *ngIf="!editWidgetName"> {{ widgetname }}</span>
</p>
<button type="button" [disabled]="loading" *ngIf="!editWidgetName" class="no-drag btn-sm btn btn-primary float-right mr-1" (click)="openModal()">
  <i class="fa fa-cog"></i>
</button>
<div class="clearfix"></div>
<div class="spinner-grow text-primary text-center" *ngIf="loading" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
            <tr>
                <th>ID KPI</th>
                <th>Descrizione KPI</th>
                <th>Dettagli</th>
                <th>Escalation</th>
                <th>Valore Limite Atteso</th>
                <th>Trend</th>
                <th>Gen</th>
                <th>Feb</th>
                <th>Mar</th>
                <th>Apr</th>
                <th>Mag</th>
                <th>Giu</th>
                <th>Lug</th>
                <th>Ago</th>
                <th>Sep</th>
                <th>Ott</th>
                <th>Nov</th>
                <th>Dic</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="kpiStatusSummaryData.length === 0">
                <td colspan="18">Nessun dato trovato.</td>
            </tr>
            <tr *ngFor="let kpiStatus of kpiStatusSummaryData">
                <td style="padding: 1px 2px;">{{ kpiStatus.idkpi }}</td>
                <td style="padding: 1px 2px;">{{ kpiStatus.descrizionekpi }}</td>
                <td style="white-space: nowrap; overflow: hidden;padding: 1px 2px;">Tipologia: {{ kpiStatus.tipologia }}<br />Frequenza: {{ kpiStatus.frequenza }}<br />Calcolo: {{ kpiStatus.calcolo }}<br />Fornitura: {{ kpiStatus.fornitura }}</td>
                <td style="padding: 1px 2px;">{{ kpiStatus.escalation || 'N/A' }}</td>
                <td style="padding: 1px 2px;">{{ kpiStatus.vilorelimiteatteso }}</td>
                <td style="padding: 1px 2px;">{{ kpiStatus.trend }}</td>
                <td style="padding: 1px 2px;" [innerHTML]="kpiStatus.gen"></td>
                <td style="padding: 1px 2px;" [innerHTML]="kpiStatus.feb"></td>
                <td style="padding: 1px 2px;" [innerHTML]="kpiStatus.mar"></td>
                <td style="padding: 1px 2px;" [innerHTML]="kpiStatus.apr"></td>
                <td style="padding: 1px 2px;" [innerHTML]="kpiStatus.mag"></td>
                <td style="padding: 1px 2px;" [innerHTML]="kpiStatus.giu"></td>
                <td style="padding: 1px 2px;" [innerHTML]="kpiStatus.lug"></td>
                <td style="padding: 1px 2px;" [innerHTML]="kpiStatus.ago"></td>
                <td style="padding: 1px 2px;" [innerHTML]="kpiStatus.sep"></td>
                <td style="padding: 1px 2px;" [innerHTML]="kpiStatus.ott"></td>
                <td style="padding: 1px 2px;" [innerHTML]="kpiStatus.nov"></td>
                <td style="padding: 1px 2px;" [innerHTML]="kpiStatus.dic"></td>
            </tr>
        </tbody>
    </table>
</div>
